/* header */
.header {
  width: 100vw;
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-container {
  margin: 0 auto;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.nav-link {
  color: gray;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  color: gray;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

/* main */
.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-main-box {
  display: flex;
  flex-direction: column;
  width: 45vw;
  padding: 100px;
}

.left-main-box > h1 {
  font-size: 30px;
  padding-bottom: 20px;
}

.left-main-box p {
  font-size: 15px;
}

.main-image > img {
  height: 60vh;
  width: 30vw;
  padding: 50px 50px 0px 0px;
}

.main-image > p {
  color: gray;
  font-size: 10px;
  text-align: center;
}

/* footer */
.footer-container {
  background-color: ghostwhite;
  width: 100vw;
  height: 5vh;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  .nav-container {
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
  }

  .left-main-box {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 10px;
  }

  .left-main-box p {
    font-size: 13px;
  }

  .main-image > img {
    height: 30vh;
    width: 100vw;
    padding: 50px 50px 0px 0px;
  }

  .main-image > p {
    color: gray;
    font-size: 10px;
    text-align: center;
  }

  .footer-container {
    background-color: ghostwhite;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
}
