/* header */
.header {
  width: 100vw;
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-container {
  margin: 0 auto;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.nav-link {
  color: gray;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  color: gray;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

/* main */
.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container > h1 {
  width: 100vw;
  height: 7vh;
  font-size: 20px;
  padding-left: 10vw;
  background-color: #faf9fa;
  display: flex;
  align-items: center;
}

/* 카드 스타일 */
.card {
  border: 1px solid black;
  border-radius: 16px;
  padding: 20px;
  width: 350px;
  height: 500px;
  text-align: left;
  overflow: hidden;
  margin: 100px auto; /* 가운데 정렬 */
}

/* 이미지 스타일 */
.card-image {
  width: 100%;
  border-radius: 12px;
  display: block;
}

/* 블로그 태그 스타일 */
.card-tag {
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

/* 설명 스타일 */
.card-description {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

/* 버튼 스타일 */
.card-button {
  display: block;
  background: black;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card-button:hover {
  background: #333;
}

/* footer */
.footer-container {
  background-color: ghostwhite;
  width: 100vw;
  height: 5vh;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  .nav-container {
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
  }

  .footer-container {
    background-color: ghostwhite;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
}
